.yellow-star-enter-from {
    transform: translate(200px, 30px);
  }
  
  .yellow-star-leave-to {
    transform: translate(280px, 60px);
  }
  
  .yellow-star-enter-active {
    transition: all 0.5s ease-out;
  }
  
  .yellow-star-leave-active {
    transition: all 0.5s ease-in;
  }
  
  .yellow-star-enter-to,
  .yellow-star-leave-from {
    transform: translate(220px, -10px);
  }